# Aufgabe: Covid19

In dieser Aufgabe sollen Sie einen Datensatz über Covid19 analysieren und ein paar einfache Fragen mit den gelernten Pandas-Tricks beantworten.

In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [73]:
# Einlesen des Datensatzes
covid = pd.read_csv("covid_de.csv")

**STEP 1:** Machen Sie sich mit dem Datensatz kurz vertraut.

,state,county,age_group,gender,date,cases,deaths,recovered
0,Baden-Wuerttemberg,LK Alb-Donau-Kreis,00-04,F,2020-03-27,1,0,1
1,Baden-Wuerttemberg,LK Alb-Donau-Kreis,00-04,F,2020-03-28,1,0,1
2,Baden-Wuerttemberg,LK Alb-Donau-Kreis,00-04,F,2020-04-03,1,0,1
3,Baden-Wuerttemberg,LK Alb-Donau-Kreis,00-04,M,2020-04-05,1,0,1
4,Baden-Wuerttemberg,LK Alb-Donau-Kreis,00-04,M,2020-05-18,1,0,1

**STEP 2:** Wie viele Menschen sind nach diesem Datensatz genesen?

NameError: name 'covid' is not defined

**STEP 3.1:** Wo gab es die meisten Fälle in Deutschland? Listen Sie die Top 5 Bundesländer auf.

                 state  cases
0  Nordrhein-Westfalen  63152
1               Bayern  62805
2   Baden-Wuerttemberg  45753
3        Niedersachsen  18159
4               Hessen  17083

**STEP 3.2:** Wo gab es die wenigsten Tode in Deutschland? Listen Sie die Top 5 Bundesländer auf.

**STEP 4:** Fügen Sie die Anzahl Fälle mit der Anzahl der Tode anhand der Bundesländer zusammen. Achten Sie darauf, dass keine Vermischungen von Zahlen von unterschiedlichen Bundesländern passieren.

**STEP 5:** Stellen Sie einen einfach Bar-Plot da, welche die Bars von 'state' und 'deaths' anzeigt.

In [2]:
months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
covid_month_list = [months[int(covid.date[i][5])*10 + int(covid.date[i][6])*1] for i in range(len(covid))]
covid_months = covid[["cases", "deaths", "recovered"]]
covid_months['month'] = covid_month_list

NameError: name 'covid' is not defined

**STEP 6:** Gruppieren Sie die *covid_months* anhand der Monate, Summieren sie die Fälle auf und Sortieren Sie die Liste absteigend anhand der Anzahl der Fälle

**STEP 7:** Fügen Sie zwei Spalten dem *covid_months* DataFrame hinzu.

* recovery_rate: Prozentualer Anteil von allen *recovered* Fällen
* death_rate: Prozentualer Anteil von allen *deaths* Fällen

Geben Sie das DataFrame am Ende aus und fragen Sie den Tutor, ob Sie alles richtig gemacht haben.